.container {
  width: 80vw;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 4rem;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 30px;
  color:#F8DF00;
  margin-bottom: 20px;
  font-size: 3rem;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.option-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #0056b3;
}

.option-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.selected-order {
  text-align: left;
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 500;
}

.selected-order h2 {
  color: #333;
}

.selected-order ol {
  padding-top: 10px;
  padding-left: 20px;

}